table{
    width: 100%;
}
th{
    width: 25%;
    font-size: 25px;
    font-weight: bold;
    background-color: tomato;
}
table, th {
    border: 1px solid black;
    border-radius: 10px;
  }
  h1{
      margin-bottom: 0%;
  }
  .open-filter-btn{
      font-size: 28px;
      margin-top: 0%;
      width: 15%;
  }